In [71]:
import pycurl
import pandas as pd
import numpy as np
from datetime import datetime
import os
import certifi
import glob
import warnings

In [54]:
str(datetime.now().date())

'2021-07-19'

In [61]:
os.path.dirname('/home/anupam')

'/home'

In [72]:
data_dir = "../../data"
today = str(datetime.now().date())
filename = "districts-" + today + ".csv"
filepath = os.path.join(data_dir, filename)

def perform_file_curl(filepath, remove_old=True):
    if os.path.exists(filepath):
        warnings.warn("Latest CSV data already exists; not downloading.")
        return

    if remove_old:
        dirname = os.path.dirname(filepath)
        filelist = glob.glob(os.path.join(dirname, 'districts*.csv'))
        for file in filelist:
            try:
                os.remove(file)
            except:
                raise UserWarning(f"Error while deleting the file: {file}")

    file = open(filepath, 'wb')
    URL = "https://api.covid19india.org/csv/latest/districts.csv"
    c = pycurl.Curl()
    c.setopt(c.URL, URL)
    c.setopt(c.WRITEDATA, file)
    c.setopt(c.CAINFO, certifi.where())
    c.perform()
    c.close()
    file.close()

In [73]:
perform_file_curl(filepath)

/tmp/ipykernel_137395/2051968931.py:8: UserWarning: Latest CSV data already exists; not downloading.
  warnings.warn("Latest CSV data already exists; not downloading.")

In [58]:
if os.path.exists(os.path.join(data_dir, filename)):
    print("OK")
else:
    perform_file_curl()

In [38]:
csv = "../../data/districts.csv"

In [39]:
df = pd.read_csv(csv)

In [40]:
df.head()

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN

In [41]:
CODES_STATES = {
    "AP": "Andhra Pradesh", "AR": "Arunachal Pradesh", "AS": "Assam",
    "BR": "Bihar", "CT": "Chhattisgarh", "GA": "Goa", "GJ": "Gujarat",
    "HR": "Haryana", "HP": "Himachal Pradesh", "JH": "Jharkhand",
    "KA": "Karnataka", "KL": "Kerala", "MP": "Madhya Pradesh", 
    "MH": "Maharashtra", "MN": "Manipur", "ML": "Meghalaya", 
    "MZ": "Mizoram", "NL": "Nagaland", "OR": "Odisha", "PB": "Punjab",
    "RJ": "Rajasthan", "SK": "Sikkim", "TN": "Tamil Nadu",
    "TG": "Telangana", "TR": "Tripura", "UT": "Uttarakhand", 
    "UP": "Uttar Pradesh", "WB": "West Bengal", 
    "AN": "Andaman and Nicobar Islands", "CH": "Chandigarh", 
    "DN": "Dadra and Nagar Haveli and Daman and Diu", "DL": "Delhi",
    "JK": "Jammu and Kashmir", "LA": "Ladakh", "LD": "Lakshadweep",
    "PY": "Puducherry", "TT": "India"
}

STATES_CODES = {v.lower(): k for k, v in CODES_STATES.items()}

In [42]:
df.columns = [column.lower() for column in df.columns]

In [44]:
grouped_by_districts = df.groupby(['district', 'state'])

In [45]:
grouped_by_districts.first()

,,date,confirmed,recovered,deceased,other,tested
district,state,,,,,,
Agar Malwa,Madhya Pradesh,2020-04-26,11,0,1,0,NaN
Agra,Uttar Pradesh,2020-04-26,372,49,10,0,7463.0
Ahmedabad,Gujarat,2020-04-26,2181,140,104,0,63813.0
Ahmednagar,Maharashtra,2020-04-26,36,22,2,0,4900.0
Airport Quarantine,Tamil Nadu,2020-05-12,4,0,0,0,NaN
...,...,...,...,...,...,...,...
Yadgir,Karnataka,2020-05-12,2,0,0,0,14292.0
Yamunanagar,Haryana,2020-04-26,3,3,0,0,10511.0
Yanam,Puducherry,2020-06-21,1,0,0,0,855.0
Yavatmal,Maharashtra,2020-04-26,48,10,0,0,5137.0
Zunheboto,Nagaland,2020-06-08,1,0,0,0,1678.0

In [46]:
len(grouped_by_districts.groups.keys())

679

In [ ]:
i = 0

for name, group in grouped_by_districts:
    print(name)
    print(group)
    i += 1
    if i > 10:
        break